.info{
    margin-left: 2em;
}

.costo {
    margin: 3em 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    width: 15%;
    background-color: blue;
    color: white;
    font-size: 1.2em;
    text-align: center;
}