<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FleetManager</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body class="bg-dark">

<div th:replace="parts/navbar :: navbar"></div>

<section style="display: flex;justify-content: center;align-items: center;flex-direction: column;">

    <form th:action="@{/agregarVehiculo}" method="POST" th:object="${vehiculo}" style="color: white;margin: 2rem 0;background-color: #333333;padding: 2em;width: 30%">
        <div class="mb-3">
            <label for="patente" class="form-label">Patente</label>
            <input th:field="*{patente}" type="text" class="form-control" id="patente" name="patente">
        </div>
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input th:field="*{marca}" type="text" class="form-control" id="marca" name="marca">
        </div>
        <div class="mb-3">
            <label for="modelo" class="form-label">Modelo</label>
            <input th:field="*{modelo}" type="text" class="form-control" id="modelo" name="modelo">
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo de vehiculo</label>
            <select name="tipo" id="tipo" class="form-select" aria-label="Default select example" th:field="*{tipo}">
                <option value="Moto">Moto</option>
                <option value="Auto">Auto</option>
                <option value="Camion">Camion</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="kilometrajeMaximo" class="form-label">Kilometraje maximo (Km)</label>
            <input th:field="*{kilometrajeMaximo}" type="number" class="form-control" id="kilometrajeMaximo" name="kilometrajeMaximo"
                   aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="combustible" class="form-label">Combustible (L)</label>
            <input th:field="*{combustible}" type="number" class="form-control" id="combustible" name="combustible"
                   aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="resistencia" class="form-label">Resistencia</label>
            <input th:field="*{resistencia}" type="number" class="form-control" id="resistencia" name="resistencia"
                   aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="capacidad" class="form-label">Capacidad (Kg)</label>
            <input th:field="*{capacidad}" type="number" class="form-control" id="capacidad" name="capacidad"
                   aria-describedby="emailHelp">
        </div>
        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
        <button style="margin-top: 1em;" type="submit" class="btn btn-primary">Agregar Vehiculo</button>
    </form>
    <div class="botones-perfil" style="margin: 2rem 0">
        <a th:href="@{/gestionVehicular}">
            <button class="btn btn-danger" type="submit">Volver</button>
        </a>
    </div>

</section>
<footer th:fragment="footer"
        style="background-color: #FFC107;color:white; width: 100%; height: 5em; display: flex;justify-content: center;align-items: center">
    <h2>FleetManager</h2>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>