<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FleetManager</title>
    <link rel="stylesheet" th:href="@{/css/costo.css}">
</head>
<body>
<header>
    <h1>FleetManager</h1>
    <a th:href="@{/perfil}">
        <div style="display: flex; justify-content: center; align-items: center" class="perfil">P</div>
    </a>
</header>

<nav>
    <ul>
        <li><a class="vistaActual" th:href="@{/gestionVehicular}">Gestion de vehiculos</a></li>
        <li><a th:href="@{/pedidos}">Pedidos</a></li>
        <li><a th:href="@{/rendimiento}">Rendimiento</a></li>
        <li><a th:href="@{/seguimiento}">Seguimiento</a></li>
        <li><a th:href="@{/costo}">Costos</a></li>
    </ul>
</nav>


<section class="container_vehiculo">

    <article class="vehiculo">
        <div class="perfil-auto">
            <div class="imagen"></div>
            <p>Marca: Toyota</p>
            <p>Modelo: Corolla</p>
        </div>
        <div class="info">
            <p>Tipo de vehiculo: <span>Moto</span></p>
            <p>Kilometraje maximo: <span>1000km</span></p>
            <p>Capacidad de combustible <span>100L</span></p>
            <p>Resistencia: <span>100kg</span></p>
            <p>Tamaño: 4</p>
        </div>

    </article>

    <article class="costo">
        <div>
            <p>Gasto en Combustible</p>
            <p>Acumulado: $14000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>
    </article>
    <article class="costo">
        <div>
            <p>Gasto en Mantenimiento</p>
            <p>Acumulado: $400000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>
    <article class="costo">
        <div>
            <p>Gasto en Entregas</p>
            <p>Acumulado: $8000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>

    <article class="costo">
        <div>
            <p>Gasto en Otros</p>
            <p>Acumulado: $70000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>

</section>

<section class="container_vehiculo">

    <article class="vehiculo">
        <div class="perfil-auto">
            <div class="imagen"></div>
            <p>Marca: Toyota</p>
            <p>Modelo: Corolla</p>
        </div>
        <div class="info">
            <p>Tipo de vehiculo: <span>Moto</span></p>
            <p>Kilometraje maximo: <span>1000km</span></p>
            <p>Capacidad de combustible <span>100L</span></p>
            <p>Resistencia: <span>100kg</span></p>
            <p>Tamaño: 4</p>
        </div>

    </article>

    <article class="costo">
        <div>
            <p>Gasto en Combustible</p>
            <p>Acumulado: $14000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>
    </article>
    <article class="costo">
        <div>
            <p>Gasto en Mantenimiento</p>
            <p>Acumulado: $400000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>
    <article class="costo">
        <div>
            <p>Gasto en Entregas</p>
            <p>Acumulado: $8000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>

    <article class="costo">
        <div>
            <p>Gasto en Otros</p>
            <p>Acumulado: $70000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>

</section>

<section class="container_vehiculo">

    <article class="vehiculo">
        <div class="perfil-auto">
            <div class="imagen"></div>
            <p>Marca: Toyota</p>
            <p>Modelo: Corolla</p>
        </div>
        <div class="info">
            <p>Tipo de vehiculo: <span>Moto</span></p>
            <p>Kilometraje maximo: <span>1000km</span></p>
            <p>Capacidad de combustible <span>100L</span></p>
            <p>Resistencia: <span>100kg</span></p>
            <p>Tamaño: 4</p>
        </div>

    </article>

    <article class="costo">
        <div>
            <p>Gasto en Combustible</p>
            <p>Acumulado: $14000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>
    </article>
    <article class="costo">
        <div>
            <p>Gasto en Mantenimiento</p>
            <p>Acumulado: $400000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>
    <article class="costo">
        <div>
            <p>Gasto en Entregas</p>
            <p>Acumulado: $8000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>

    <article class="costo">
        <div>
            <p>Gasto en Otros</p>
            <p>Acumulado: $70000</p>
            <label>Dom </label><progress value="5" max="10" min="0" ></progress>
            <label>Lun </label><progress value="5" max="10" min="0" ></progress>
            <label>Mar </label><progress value="5" max="10" min="0" ></progress>
            <label>Mié </label><progress value="5" max="10" min="0" ></progress>
            <label>Jue </label><progress value="5" max="10" min="0" ></progress>
            <label>Vie </label><progress value="5" max="10" min="0" ></progress>
            <label>Sab </label><progress value="5" max="10" min="0" ></progress>
        </div>

    </article>

</section>

</body>
</html>