<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FleetManager</title>
    <link rel="stylesheet" th:href="@{/css/gestionVehicular.css}">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>

<header>
    <h1>FleetManager</h1>
    <a th:href="@{/perfil}">
        <div style="display: flex; justify-content: center; align-items: center" class="perfil">P</div>
    </a>
</header>

<nav>
    <ul>
        <li><a class="vistaActual" th:href="@{/gestionVehicular}">Gestion de vehiculos</a></li>
        <li><a th:href="@{/pedidos}">Pedidos</a></li>
        <li><a th:href="@{/rendimiento}">Rendimiento</a></li>
        <li><a th:href="@{/seguimiento}">Seguimiento</a></li>
        <li><a th:href="@{/costo}">Costos</a></li>
    </ul>
</nav>

<main>

    <section class="container">
        <div class="row mt-3" th:each="vehiculo : ${vehiculos}">
            <div class="col-6 offset-3">
               <div class="card">
                   <div class="card-body" th:each="vehiculo : ${vehiculos}">
                       <img th:src="@{/img/moto.png}" />
                       <div>
                           <p th:text="'Patente: '+ ${vehiculo.patente}"></p>
                           <p th:text="'Marca: '+ ${vehiculo.marca}"></p>
                           <p th:text="'Modelo: '+ ${vehiculo.modelo}"></p>
                       </div>

                       <div class="info">
                           <p th:text="'Tipo de vehiculo: '+ ${vehiculo.tipo}"></p>
                           <p th:text="'kilometraje maximo: '+ ${vehiculo.kilometrajeMaximo}+'Km'"></p>
                           <p th:text="'Combustible: '+ ${vehiculo.combustible}+' L'"></p>
                           <p th:text="'Resistencia: '+ ${vehiculo.resistencia} + 'Kg'"></p>
                           <p th:text="'Capacidad: '+ ${vehiculo.capacidad}"></p>
                       </div>
                   </div>
                   <div class="card-footer">
                       <form th:action="@{/eliminarVehiculo}" method="POST">
                           <input type="hidden" name="patente" th:value="${vehiculo.patente}" />
                           <button class="btn btn-danger" type="submit">Eliminar</button>
                       </form>
                   </div>
               </div>
               </div>
        </div>

    </section>
    <p th:if="${error != null}" class="alert alert-danger" th:text="${error}"></p>
    <div style="text-align: center; margin: 2rem 0; font-size: 1.2em">
        <a style="background-color: #FFA500;padding: .3em 1em;text-decoration: none; color:white;border-radius: 1em;text-align: center" th:href="@{/agregarVehiculo}">Agregar Vehiculo</a>
    </div>

</main>

<footer>
    <h2>FleetManager</h2>
</footer>

</body>

</html>