<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FleetManager</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/ac3c7794f3.js" crossorigin="anonymous"></script>
</head>

<body style="position: relative; height: 100vh">
<div th:replace="parts/navbar :: navbar"></div>

<div class="container">
    <section class="row">
        <div class="col-6" th:each="vehiculo : ${vehiculos}">
            <div class="card my-2">
                <div class="card-header">
                    <h4 class="card-title" th:text="${vehiculo.marca+' '+vehiculo.modelo}"></h4>
                </div>
                <div class="card-body d-flex align-items-center justify-content-around">
                    <i class="fas fa-car" style="font-size: 5em" th:if="${vehiculo.tipo} == 'Auto'"></i>
                    <i class="fas fa-truck" style="font-size: 5em" th:if="${vehiculo.tipo} == 'Camion'"></i>
                    <i class="fas fa-motorcycle" style="font-size: 5em" th:if="${vehiculo.tipo} == 'Moto'"></i>
                    <div class="ml-2 card-text">
                        <p th:text="'Patente: '+ ${vehiculo.patente}"></p>
                        <p th:text="'kilometraje maximo: '+ ${vehiculo.kilometrajeMaximo}+'Km'"></p>
                        <p th:text="'Combustible: '+ ${vehiculo.combustible}+' L'"></p>
                        <p th:text="'Resistencia: '+ ${vehiculo.resistencia} + 'Kg'"></p>
                        <p th:text="'Capacidad: '+ ${vehiculo.capacidad}+ 'Kg'"></p>
                        <p th:text="'Estado: '+ ${vehiculo.status ? 'Disponible' : 'Ocupado'}"></p>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <form th:action="@{/eliminarVehiculo}" method="POST">
                        <input type="hidden" name="id" th:value="${vehiculo.id}"/>
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                    </form>
                    <form th:action="@{/modificarVehiculo}" method="POST">
                        <input type="hidden" name="id" th:value="${vehiculo.id}"/>
                        <button class="btn btn-primary" type="submit">Modificar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
    <p th:if="${error != null}" class="alert alert-danger" th:text="${error}" style="text-align: center; margin:0 2rem"></p>
    <div class="container" >
        <div class="row my-4 ">
            <div class="col-4 offset-5">
                <a class="btn btn-warning btn-lg" th:href="@{/agregarVehiculo}">Agregar Vehiculo</a>
            </div>

        </div>
    </div>
<footer th:if="${vehiculos==null}" class="alert alert-danger"
        style="background-color: #FFC107;color:white; position: absolute;bottom: 0; width: 100%; height: 5em; display: flex;justify-content: center;align-items: center">
    <h2>FleetManager</h2>
</footer>
<div th:if="${vehiculos!=null}">
    <footer th:if="${vehiculos.size()>1}" class="alert alert-danger"
            style="background-color: #FFC107;color:white; width: 100%; height: 5em; display: flex;justify-content: center;align-items: center">
        <h2>FleetManager</h2>
    </footer>
    <footer th:if="${vehiculos.size()==1}"
            style="background-color: #FFC107;color:white;
            position: absolute;bottom: 0; width: 100%; height: 5em; display: flex;justify-content: center;align-items: center">
        <h2>FleetManager</h2>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>