<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis Pedidos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/scroll.css}"/>
    <script th:src="@{/js/datosPedidoMap.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .bg-color {
            background-color: #f8d088;
        }
        .bg-header{
            background-color: #f59866;
        }
        .bg-dark{
            background-color: #36322d;
        }
    </style>
</head>
<body class="bg-dark text-light">
<div th:replace="parts/navbar :: navbar"></div>
<div class="container">
    <h1 class="my-4">Mis Pedidos</h1>
    <!-- Verificar si hay solicitudes -->
    <div th:if="${solicitudes.isEmpty()}">
        <p class="alert alert-danger" style="text-align: center; margin:0 2rem">No tienes solicitudes de envío.</p>
    </div>
    <!-- Verificar si se despacharon todos los pedidos -->
    <div th:if="${param.error}" class="alert alert-danger">
        <p th:text="'No hay vehiculos con la capacidad suficiente'"></p>
    </div>
    <!-- Mostrar solicitudes si las hay -->
    <div th:if="${not solicitudes.isEmpty()}" class="details-card">
        <!-- Iterar sobre las solicitudes y mostrar sus pedidos -->

        <div th:each="solicitud : ${solicitudes}">
            <form th:action="@{/misPedidos/asignarPedido}" method="post">
                <div class="card mb-2 bg-secondary">
                    <div class="card-header bg-header text-dark">
                        <h2 class="mb-0">Solicitud ID: <span th:text="${solicitud.id}">ID de la Solicitud</span></h2>
                        <input type="hidden" name="id" th:value="${solicitud.id}">
                    </div>
                    <div class="card-body bg-color row">
                        <div class="col-12 col-md-4" th:each="pedido : ${solicitud.pedidos}">
                            <div class="col-md-12 mb-2">
                                <div class="card bg-dark text-light">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${pedido.nombre}" style="font-size: 30px"></h5>
                                        <h6 class="card-title" th:text="${pedido.getEstado()}" style="font-size: 20px"></h6>
                                        <img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="Pedido" width="130px" height="130px" class="img-fluid mb-4">
                                        <input type="hidden" name="pedidoLat" th:value="${pedido.latitude}">
                                        <input type="hidden" name="pedidoLon" th:value="${pedido.longitude}">
                                        <input id="distancia" type="hidden" name="distancia">
                                        <input id="tiempoConTrafico" type="hidden" name="tiempoConTrafico">
                                        <input id="distanciaConTrafico" type="hidden" name="distanciaConTrafico">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button th:if="${!solicitud.getPedidos().get(0).getEstado().equals(estado)}" type="submit" class="btn btn-primary mt-2 mb-4">Asignar pedidos</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="parts/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
