<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ofertas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <style>
        .bg-color {
            background-color: #f8d088;
        }
        .estado-disponible {
            color: #4ea613;

        }
        .estado-solicitado {
            color: #f86f6f;

        }
    </style>
</head>
<body class="bg-dark">
<div th:replace="parts/navbar :: navbar"></div>
<div class="container py-4">
    <h1 class="mb-4 text-light">Ofertas</h1>
    <form id="ofertasForm" th:action="@{/ofertas/formularioSolicitud}" method="post">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Iterar sobre los pedidos y mostrar la información -->
            <div th:each="pedido : ${pedidos}" class="col">
                <div class="card bg-light">
                    <div class="card-body bg-color">
                        <!-- Detalles del pedido -->
                        <h5 class="card-title mb-4" th:text="${pedido.nombre}" style="font-size: 1.5rem;">Título del Pedido</h5>
                        <img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="Pedido" width="130px" height="130px" class="img-fluid mb-4">
                        <h6 class="card-subtitle mb-3">Código del Pedido:</h6>
                        <p class="card-text mb-3" th:text="${pedido.codigo}">Código del Pedido</p>
                        <h6 class="card-subtitle mb-3">Fecha de entrega: </h6>
                        <p class="card-text mb-3" th:text="${pedido.fecha}">Código del Pedido</p>
                        <h6 class="card-subtitle mb-3">Estado del Pedido:</h6>
                        <p  th:class="${'estado-' + pedido.estado.toString().toLowerCase()}">
                           <strong th:text="${pedido.estado}"></strong>
                        </p>

                        <!-- Checkbox para seleccionar el pedido -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:value="${pedido.id}" th:name="selectedPedidos" th:id="'pedido' + ${pedido.id}">
                            <label class="form-check-label" th:for="'pedido' + ${pedido.id}">Seleccionar Pedido</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botón para enviar los pedidos seleccionados -->
        <button type="submit" class="btn btn-primary mt-4">Solicitar Pedidos</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-hJ6Ajb0LlC6Y0+ttAxVYk5Aqm9a1hrIz2FR6gIaE7Z2HGCsbz6tZ/rhoKqzvI4fB" crossorigin="anonymous"></script>
<script>
    function toggleSelectAll(source) {
        checkboxes = document.querySelectorAll('input[type="checkbox"][name="selectedPedidos"]');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>
</body>
</html>
