<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pedidos</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{css/pedidos.css}" />

    <link rel="stylesheet" th:href="@{js/pedidos.js}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head>

<body class="body">
<div class="fondo-oscuro">
    <header>
        <div class="header">
            <h1>FleetManager</h1>
            <div class="circulo"></div>
            <nav>
                <ul>
                    <li><a href="#gestion-vehiculos">Gestión de vehículos</a></li>
                    <li><a href="#pedidos">Pedidos</a></li>
                    <li><a href="#rendimiento">Rendimiento</a></li>
                    <li><a href="#seguimiento">Seguimiento</a></li>
                    <li><a href="#costos">Costos</a></li>
                </ul>
            </nav>

        </div>

    </header>
    <section class="conteiner-principal">
        <div class="conteiner-pedidos">
            <div class="item-box">

                <div class="item">
                    <div class="img"><img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="" class="img2"></div>
                    <div class="content"><h3>Paquete 1</h3></div>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <div class="img"><img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="" class="img2"></div>
                    <div class="content"><h3>Paquete 2</h3></div>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <div class="img"><img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="" class="img2"></div>
                    <div class="content"><h3>Paquete 3</h3></div>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <div class="img"><img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="" class="img2"></div>
                    <div class="content"><h3>Paquete 4</h3></div>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <div class="img"><img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="" class="img2"></div>
                    <div class="content"><h3>Paquete 5</h3></div>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <div class="img"><img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="" class="img2"></div>
                    <div class="content"> <h3>Paquete 6</h3></div>
                </div>
            </div>
        </div>

        <div class="conteiner-calendario">
            <h3>Calendario</h3>

        </div>

        <div class="fixed-calendar-container">
            <div id="datepicker"></div>
        </div>
    </section>
    <script th:inline="javascript">
        /* Inicializar el Datepicker */
        $(function() {
            // Configuración del Datepicker para mostrar siempre el calendario
            $("#datepicker").datepicker({
                showOn: 'button', // Mostrar el botón del calendario
                buttonImage: 'https://jqueryui.com/resources/demos/datepicker/images/calendar.gif', // Imagen del botón del calendario
                buttonImageOnly: true, // Mostrar solo la imagen del botón
                showButtonPanel: true, // Mostrar el panel de botones
                showOtherMonths: true, // Mostrar días de otros meses
                selectOtherMonths: true, // Permitir seleccionar días de otros meses
                showWeek: true, // Mostrar números de semana
                numberOfMonths: 1, // Mostrar solo un mes
                showAnim: 'slideDown', // Efecto de animación al mostrar el calendario
                onSelect: function(dateText) {
                    // Aquí puedes agregar lógica para manejar la fecha seleccionada
                }
            });
        });
    </script>
</body>
</html>