<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pedidos</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{css/pedidos.css}" />

    <link rel="stylesheet" th:href="@{js/pedidos.js}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head>

<body class="body">
<div class="fondo-oscuro">
    <header>
        <div class="header">
            <h1>FleetManager</h1>
            <div class="circulo">
                <img src="https://img.lovepik.com/element/45001/3052.png_860.png" class="perfil">
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/gestionVehicular}">Gestion de vehiculos</a></li>
                    <li><a th:href="@{/pedidos}">Pedidos</a></li>
                    <li><a th:href="@{/rendimiento}">Rendimiento</a></li>
                    <li><a th:href="@{/seguimiento}">Seguimiento</a></li>
                    <li><a th:href="@{/costo}">Costos</a></li>
                </ul>
            </nav>


        </div>

    </header>
    <div class="content-date">
        <h4>Filtrar por dia</h4>
        <input type="date" id="fechaFiltro" onchange="filtrarPedidosPorFecha()" class="input-date">
    </div>
    <section class="conteiner-principal">
        <div class="conteiner-pedidos">

            <div class="item-box" th:each="pedido, pedidoIndex : ${pedido}">
                <div class="item" th:id="'pedido_' + ${pedidoIndex.index}">
                    <div class="img"><img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="" class="img2"></div>
                    <div class="content">
                        <p th:text="'Nombre: ' + ${pedido.nombre}" class="title"></p>
                        <p th:text="'Tipo de pedido: ' + ${pedido.tipo}"></p>
                        <p th:text="'Codigo: ' + ${pedido.codigo}"></p>
                        <p th:text="'Tamaño: ' + ${pedido.tamanio}"></p>
                        <p th:text="'Peso: ' + ${pedido.peso} + 'kg'"></p>
                        <p th:text="'Entrega: ' + ${pedido.fecha}" class="fecha-entrega"></p>
                        <div class="botones">
                            <button onclick="cancelarPedido(${pedidoIndex.index})" class="btn-cancelar">Cancelar</button>
                            <button onclick="reprogramarPedido(${pedidoIndex.index})" class="btn-reprogramar">Reprogramar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </section>
    <button type="button" class="btn shadow p-3 mb-5 bg-body rounded d-flex align-items-center" onclick="mostrarVentanaEmergente()">Sugerir</button>


</div>




<div id="ventanaEmergente" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="cerrarVentanaEmergente()">&times;</span>
        <div class="card">
            <div class="card-header">
                Vehículos disponibles para viajes
            </div>
            <div class="card-body">
                <form id="seleccionVehiculosForm">
                    <div class="form-check" th:each="vehiculo : ${vehiculos}">
                        <input class="form-check-input" type="checkbox" name="vehiculo" th:id="'vehiculo' + ${vehiculo.id}" th:value="${vehiculo.id}">
                        <label class="form-check-label" th:for="'vehiculo' + ${vehiculo.id}" th:text="${vehiculo.nombre}">
                            Vehículo 1
                        </label>
                    </div>
                    <button type="button" onclick="enviarSeleccion()" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    function filtrarPedidosPorFecha() {
        var fechaSeleccionada = new Date(document.getElementById("fechaFiltro").value);
        // Convertir la fecha seleccionada a la zona horaria local
        fechaSeleccionada.setMinutes(fechaSeleccionada.getMinutes() - fechaSeleccionada.getTimezoneOffset());

        var pedidos = document.getElementsByClassName("item-box");

        for (var i = 0; i < pedidos.length; i++) {
            var fechaPedido = new Date(pedidos[i].querySelector(".fecha-entrega").textContent);
            // Convertir la fecha del pedido a la zona horaria local
            fechaPedido.setMinutes(fechaPedido.getMinutes() - fechaPedido.getTimezoneOffset());

            if (fechaPedido.toDateString() !== fechaSeleccionada.toDateString()) {
                pedidos[i].style.display = "none"; // Oculta las tarjetas que no coincidan con la fecha seleccionada
            } else {
                pedidos[i].style.display = "block"; // Muestra las tarjetas que coincidan con la fecha seleccionada
            }
        }
    }
    function mostrarVentanaEmergente() {
        document.getElementById("ventanaEmergente").style.display = "block";
    }

    function cerrarVentanaEmergente() {
        document.getElementById("ventanaEmergente").style.display = "none";
    }

    function enviarSeleccion() {
        var form = document.getElementById("seleccionVehiculosForm");
        var checkboxes = form.querySelectorAll('input[name="vehiculo"]:checked');
        var vehiculosSeleccionados = [];

        checkboxes.forEach(function(checkbox) {
            vehiculosSeleccionados.push(checkbox.value);
        });

        // Aquí puedes hacer lo que quieras con la información seleccionada,
        // por ejemplo, enviarla a través de una solicitud HTTP o procesarla localmente.
        console.log("Vehículos seleccionados:", vehiculosSeleccionados);

        // Cerrar la ventana emergente después de enviar la selección
        cerrarVentanaEmergente();
    }

</script>
</body>
</html>