<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>

<body>
<header>
    <h1>FleetManager</h1>
    <a th:href="@{/perfil.html}">
        <div style="display: flex; justify-content: center; align-items: center" class="perfil">P</div>
    </a>
</header>

<nav>
    <ul>
        <li><a class="vistaActual" href="gestionVehicular">Gestion de vehiculos</a></li>
        <li><a href="pedidos">Pedidos</a></li>
        <li><a href="rendimiento">Rendimiento</a></li>
        <li><a href="seguimiento">Seguimiento</a></li>
        <li><a href="costo">Costos</a></li>
    </ul>
</nav>
<div class="formulario">
    <form action="/home.html" method="post">
        <label for="name">Nombre: </label>
        <input type="text" name="name" id="name">
        <label for="apellido">Apellido: </label>
        <input type="text" name="apellido" id="apellido">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <label for="contrasenia">Contraseña: </label>
        <input type="password" name="contrasenia" id="contrasenia">
        <label for="fechaDeNacimiento">Fecha de nacimiento: </label>
        <input type="date" name="fechaDeNacimiento" id="fechaDeNacimiento">
        <input type="submit" value="Modificar">
    </form>
    <div class="botones-perfil">
        <a th:href="@{/gestionVehicular.html}">Volver</a>
    </div>
</div>
<footer>
    <h2>FleetManager</h2>
</footer>
</body>

</html>