<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display a map on a webpage</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script th:src="@{/js/geolocation.js}"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.css" type="text/css">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/seguimiento.css}">
</head>
<body class="bg-dark">
<div th:replace="parts/navbar :: navbar"></div>

<div th:if="${pedidos.isEmpty()}">
    <p class="alert alert-danger" style="text-align: center; margin:0 2rem">No tienes pedidos para mostrar en el mapa</p>
</div>
<div th:if="${!pedidos.isEmpty()}">
    <div class="container d-flex justify-content-between">
        <div class="details-card col-md-6" style="max-height: 70vh">
            <!-- Mostrar detalles completos del pedido -->
            <div class="card bg-dark my-2" th:each="pedido : ${pedidos}">
                <div class="card-header bg-color">
                    <h4 class="card-title text-dark" th:text="${pedido.nombre}"></h4>
                </div>
                <div class="card-body d-flex align-items-center justify-content-around bg-color-body">
                    <img src="https://imgs.search.brave.com/k-wXhcDyWNTGf5moCJQ7a408BqCDhUTXS5gxhfvxJvc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTEvQmxh/bmstUGFja2FnZS1Q/TkctUGljLnBuZw" alt="Pedido" width="130px" height="130px">
                    <div class="ml-2 card-text">
                        <p th:text="'Codigo: ' + ${pedido.codigo}"></p>
                        <p th:text="'Tipo de pedido: ' + ${pedido.tipo}"></p>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between bg-color">
                    <input type="hidden" name="pedidoLat" th:value="${pedido.latitude}">
                    <input type="hidden" name="pedidoLon" th:value="${pedido.longitude}">
                    <form class="ver-ruta-form">
                        <input type="hidden" name="pedidoLat" th:value="${pedido.latitude}">
                        <input type="hidden" name="pedidoLon" th:value="${pedido.longitude}">
                        <button class="btn btn-primary ver-ruta-btn" type="button">Ver ruta</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="map-container col-md-6" style="max-height: 70vh">
            <div id="map"></div>
        </div>
    </div>
    <div class="mt-4" style="text-align: center">
        <button class="btn btn-danger" onclick="location.reload();">Ver todas las ubicaciones</button>
    </div>
</div>
<div th:replace="parts/footer :: footer"></div>
<script th:src="@{/js/mapSeguimiento.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>

